@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-Regular.eot");
  src: url("../../fonts/Ruda/Ruda-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-Regular.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-Regular.woff") format("woff"), url("../../fonts/Ruda/Ruda-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-Medium.eot");
  src: url("../../fonts/Ruda/Ruda-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-Medium.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-Medium.woff") format("woff"), url("../../fonts/Ruda/Ruda-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-SemiBold.eot");
  src: url("../../fonts/Ruda/Ruda-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-SemiBold.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-SemiBold.woff") format("woff"), url("../../fonts/Ruda/Ruda-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-Bold.eot");
  src: url("../../fonts/Ruda/Ruda-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-Bold.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-Bold.woff") format("woff"), url("../../fonts/Ruda/Ruda-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-ExtraBold.eot");
  src: url("../../fonts/Ruda/Ruda-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-ExtraBold.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-ExtraBold.woff") format("woff"), url("../../fonts/Ruda/Ruda-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Ruda";
  src: url("../../fonts/Ruda/Ruda-Black.eot");
  src: url("../../fonts/Ruda/Ruda-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ruda/Ruda-Black.svg#Ruda-Black") format("svg"), url("../../fonts/Ruda/Ruda-Black.woff") format("woff"), url("../../fonts/Ruda/Ruda-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Thin.eot");
  src: url("../../fonts/Inter/Inter-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Thin.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Thin.woff") format("woff"), url("../../fonts/Inter/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-ExtraLight.eot");
  src: url("../../fonts/Inter/Inter-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-ExtraLight.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-ExtraLight.woff") format("woff"), url("../../fonts/Inter/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Light.eot");
  src: url("../../fonts/Inter/Inter-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Light.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Light.woff") format("woff"), url("../../fonts/Inter/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Regular.eot");
  src: url("../../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Regular.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Regular.woff") format("woff"), url("../../fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Medium.eot");
  src: url("../../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Medium.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Medium.woff") format("woff"), url("../../fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-SemiBold.eot");
  src: url("../../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-SemiBold.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../../fonts/Inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Bold.eot");
  src: url("../../fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Bold.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Bold.woff") format("woff"), url("../../fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-ExtraBold.eot");
  src: url("../../fonts/Inter/Inter-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-ExtraBold.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-ExtraBold.woff") format("woff"), url("../../fonts/Inter/Inter-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter/Inter-Black.eot");
  src: url("../../fonts/Inter/Inter-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Inter/Inter-Black.svg#Inter-Medium") format("svg"), url("../../fonts/Inter/Inter-Black.woff") format("woff"), url("../../fonts/Inter/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/*# sourceMappingURL=fonts.css.map */
